

#organizador{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10vw;
}

#calculadora{
    background-color: grey;
    display:block;  
    padding: 0 25px 25px 25px;
    border-radius: 1vw;
}

#tela{
    padding: 0px 0px 0px 0px;
    margin-bottom: 0;
    display: block;
}

#container_numeros{
    padding: 0px;
    display: flexbox;
    flex-direction: row;
    min-width: 10vw;
    max-width: 20vw;
}

.numero{
    max-height: 10vw;
    min-height: 5vw;
    min-width: 5vw;
    max-width: 10vw;
    border-width: 0.3vw;
    border-radius: 1vw;
    font-size: 4vw;
    border-color: darkgray;
}

#container_screen{
    background-color: ghostwhite;
    border-radius: 0.25vw;
    margin: 0px;
    padding: 0 0 0 0.5vw;
    display: flex;
    justify-content: left;
    align-items: center;
    
    min-height: 3vw;
    max-height: 6vw;
    font-size: 2em;
}

#parentheses_open{
    padding: 0px 0px 0px 0px;
    margin-bottom: 0;
    color: lightgray;
    margin: 0px;
}

.parenteses_fechado{
    color: black;
}

.operador{
    font-size: 3vw;
}